name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: rust:latest
      options: --cap-add=SYS_PTRACE --security-opt seccomp=unconfined
    steps:
      - name: Run tests
        run: cargo test --verbose -- --test-threads=1
